@import "reset.css";
@import "skeleton.css";
@import "superfish.css";
@import url(//fonts.googleapis.com/css?family=Glegoo);



html {
	width: 100%;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
* {
	-webkit-text-size-adjust: none;
}
body {
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #b5b5b5;
	position: relative;
	min-width: 960px;
	background: #fff;
}


.main {
	background: #f7f7f7;
}

address {
	font-style: normal;
}

p {
	margin-bottom: 20px;
}

p.p1 {
	margin-bottom: 23px;
}

p.p2 {
	margin-bottom: 14px;
}



h1, h2, h3, h4, h5, h6 {
	font-family: 'Glegoo', serif;
	color: #3c3c3c;
	font-weight: normal;
	text-transform: uppercase;

}

h2 {
	margin-bottom: 23px;
	padding-right: 20px;
	text-align: right;
	padding-top: 46px;
	font-size: 60px;
	line-height: 40px;
	color: #fff;
}

h2 span {
	padding-top: 21px;
	font-size: 18px;
	line-height: 20px;
	color: #848484;
	display: block;
}

h3 {
	background: #404040;
  border-radius: 5px;
	display: inline-block;
	padding: 4px 15px 6px;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
}

h4 {
	font-size: 16px;
	line-height: 40px;
	color: #404040;
}

img {
	max-width: 100%;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list {
	float: left;
	width: 45%;
}

ul.list+ul.list {
	margin-left: 50px;
}

ul.list  li{
	padding-left: 18px;
	background: url(../images/link_arrow.png) 0 7px no-repeat;
	color: #404040;
}

ul.list li+li {
	margin-top: 10px;
}

.col1 {
	color: #363335;
}

ul.list1 {
	padding-top: 3px;
}

ul.list1 li .count{
	margin-left: 2px;
	float: left;
	width: 51px;
	border-radius: 5px;
	height: 51px;
	margin-right: 20px;
	margin-top: 1px;
	background-color: #84ced7;
	color: #fff;
	text-align: center;
	font-size: 35px;line-height: 49px;
	font-family: 'Glegoo', serif;
}

ul.list1 li +li {
	margin-top: 21px;
}


a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #84ced7;
}

a.link1  {
	display: inline-block;
	font: 16px/22px 'Glegoo', serif;
	color: #404040;
	padding-right: 14px;
	background: url(../images/link_arrow.png) right 10px no-repeat;
}

a.link1:hover {
	color: #84ced7;
}

blockquote {
	padding-left: 16px;
	padding-top: 11px;
	margin-top: -7px;
	background: url(../images/quotes.png) 0 0 no-repeat;
}

blockquote .text1 {
	margin-bottom: 0;
	padding-top: 8px;
}

blockquote+blockquote {
	padding-bottom: 1px;
	margin-top: 9px;
}

/****classes****/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}


.img_inner {
	max-width: 100%;
	margin-top: 1px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.fleft {
	float: left;
	width: auto !important;
	margin-right: 20px;
	margin-bottom: 7px;
}

.bt_1 {
	padding-bottom: 4px;
	overflow: hidden;
}

.oh {
	overflow: hidden;
}
.fright {
	float: right !important;
}
.upp {
	text-transform: uppercase;
}
.rel {
	position: relative;
	overflow: hidden;
}
.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.pb0 {
	padding-bottom: 0 !important;
}


/*header*/

header {
	display: block;
	position: relative;
	z-index: 998;
}

header h1 {
	z-index: 910;
	margin-bottom: 51px;
	float: left;
	text-align: center;
}
header h1 a {
	display: inline-block;
	overflow: hidden;
	width: 175px;
	height: 175px;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;
}

.head_top {
	padding-bottom: 40px;
	float: right;
	overflow: hidden;
	padding-top: 60px;
}

#search {
	float: right;
	position: relative;
	width: 300px !important;
}

#search  a {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 40px;
	width: 40px;
	line-height: 39px;
	color: #e1e1e1;
	text-align: center;
	font-size: 17px;
}

#search  a:hover {
	cursor: pointer;
	color: #fff;
	background-color: #84ced7;
}

#search input {
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	width: 100%;
	font: 12px/20px Arial, Helvetica, sans-serif;
	height: 40px;
	padding: 10px 55px 10px 15px;
}


.socials {
	float: right;
}

.socials a {
	font-size: 24px;
	text-align: center;
	line-height: 42px;
	color: #fff;
	background-color: #84ced7;	
	width: 40px;
	height: 40px;
	display: block;
	float: left;
}

.socials a:hover {
	background-color: #323232;
}

.socials a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.socials a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.socials a+a {
	font-size: 19px;
}

.socials a+a+a {
	font-size: 20px;
}

/**Content**/

.box {
	background: #fff;
}

.page1_block .box {
	overflow: hidden;
	font: 16px/32px 'Glegoo', serif;
	color: #c3c3c3;
		letter-spacing: -1px;

}

.page1_block .box_inner {
	overflow: hidden;
}

.page1_block .clear {
	height: 22px;
}

.page1_block .p1_title {
	letter-spacing: -1px;
	font-size: 35px;
		padding-top: 30px;

	color: #404040;
} 

.icon {
	margin-right: 24px;
	display: block;
	float: left;
	width: 120px;
	height: 120px;
	font-size: 50px;
	line-height: 122px;
	text-align: center;
	color: #fff;
	background-color: #84ced7;
  border-radius: 5px;
}

.icon:hover {
	color: #fff;
	font-size: 60px;
	background-color: #323232;
}



.content {
	padding-bottom: 50px;
}

.content.page1 {
	padding-bottom: 44px;
}


.head {
	margin-bottom: 20px;
}



.carousel1 {
	margin-bottom: 77px;
	cursor: default !important;
}

.car_div {
	margin: 0 -10px;
}

.carousel1 li {
	float: left;
	margin: 0 10px;
}

.carousel1 .box {
	min-height: 376px;
}

.carousel1 a.link1 {
	margin-left: 18px;
	margin-top: 10px;
}

.pad1 {
	overflow: hidden;
	padding: 20px 25px 34px 18px ;
}

.carousel1  time{
	margin-bottom: 18px;

	background-color: #84ced7;
	display: block;
	float: left;
	padding: 9px 14px;
	font: 25px/22px 'Glegoo', serif;
	text-transform: uppercase;
	color: #fff;
}


.carousel1  .text1 {
	clear: both;

}

a.prev,a.next {
	float: right;
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/prevnext.png) 0 0 no-repeat #84ced7;
}

a.next {
	background-position: right 0;
}

a.prev:hover,a.next:hover {
	background-color: #323232;
}


a.prev1, a.next1 {
	float: right;
	margin-top: -1px;
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/prevnext.png) 0 0 no-repeat #84ced7;
}

a.next1 {
	background-position: right 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

a.prev1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

a.prev1:hover,a.next1:hover {
	background-color: #323232;
}

.text1 {
	color: #404040;
	font: 16px/22px 'Glegoo', serif;
	margin-bottom: 12px;
}

.quote_title {
	color: #404040;
	font: 16px/22px 'Glegoo', serif;
	margin-bottom: 14px;
}


.carousel2 {
	cursor: default !important;
	background-color: #fff;
}

.carousel2  li {
	float: left;
	font: 35px/45px 'Glegoo', serif;
	color: #404040;
}

.carousel2 li span {
	color: #84ced7;
	display: inline-block;
	position: relative;top: 19px;
	left: 15px;
	font-size: 16px;
	line-height: 22px;
}


.carousel2 a.link1 {
	display: block;
	float: right;
	color: #9f9f9f;
	margin-top: 19px;
	letter-spacing: normal;
}

.carousel2 a.link1:hover {
	color: #84ced7;
}

.carousel2  li .box {
	padding:  24px 20px 26px 40px;
	letter-spacing: -1px;
}

.box.bx1 {
	padding: 30px 16px 29px;
}

a.link1.ln1 {
	margin-left: 16px;
	margin-top: 12px;
	margin-bottom: 44px;
}

.off1 {
	margin-bottom: 50px;
}

.box.mins {
	overflow: hidden;
	padding-top: 35px;
	padding-left: 8px;
	padding-right: 0;
}

.min {
	float: left;
	padding: 10px 10px 12px;
	margin: 0 10px 20px;
	width: 268px;
	background-color: #f8f7f6;
}

.min img {
	width: 100%;
	margin-bottom: 10px;
}

.table1 {
	width: 100%;

}

.box.tbox {
	padding-top: 35px;
	padding-bottom: 18px;
    width: 588px;
    float:left;
}

a.link1.lnk1 {
    margin-left: 18px;
    margin-top: 10px;
}

.table1 td:first-child {
	width: 176px;
}

.table1 tbody  td:first-child{
	text-align: left;
	height: 69px;
	padding-top: 0;
	padding-bottom: 0;
}

.table1 tbody tr+tr {
	border-top: 1px solid #e9e9e9;
}

.table1 tbody tr+tr+tr+tr+tr td{
	height: 68px;
}

.table1 tbody td+td+td+td {
	text-align: right;
}

.table1 thead td+td+td+td {
	text-align: right;
	padding-right: 5px;
	padding-left: 5px;
}

.table1 tbody td {
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	height: 67px;
	padding-bottom: 2px;
}

.table1 a {
	position: relative;
	top: -1px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	min-width: 29px;
	text-align: center;
	padding: 5px 9px 4px;
	background-color: #84ced7;
}

.table1 a:hover {
	color: #fff;
	background-color: #323232;
}

.table1 thead{
	color: #fff;
	font: 16px/22px 'Glegoo', serif;
	background-color: #84ced7;
}

.table1 thead td {
	padding-left: 16px;
	padding: 9px 0 9px 16px;
}



.various {
	position: relative;
	display: block;
}

.various span {
	transition: 0.2s ease-in;
	-o-transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
}

.various:hover span {
	border: 20px solid #84CED7;
}

.videolink {
	font: 35px/40px 'Glegoo', serif;
	color: #fff;
	display: block;
	padding: 13px 62px 17px 19px;
	letter-spacing: -1px;
	background: url(../images/link_marker.png) right 22px no-repeat #84ced7;

}

.video {
	margin-bottom: 20px;
}

.various span {
    background: url("../images/marker2.png") no-repeat scroll 50% 50% transparent;
    display: block;
    height: 100%;
    left: 0;
    opacity: 1 !important;
    position: absolute;
    top: 0;
     -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;


    width: 100%;
    z-index: 999;
}

.videolink:hover {
	color: #fff;
	background-color: #323232;
}

.times {
	position: relative;
	top: 1px;
	background-color: #84ced7;
  border-radius: 5px;
	color: #fff;
	margin-bottom: 4px;
	padding: 25px 21px 26px;
  font: 17px/23px 'Glegoo', serif;
}

.t_title {
	font: 35px/35px 'Glegoo', serif;
	margin-bottom: 10px;
	text-transform: uppercase;

}

.times span {
	text-transform: none;
	font: 14px/23px Arial, Helvetica, sans-serif;
}

.times p {
	margin-bottom: 9px;
}

.times p+p {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 0;
}


.prv p {
	margin-bottom: 19px;
}

.prv .text1 {
	letter-spacing: -0.5px;
}



.prv a.link-1 {
	display: inline-block;
	margin-top: 1px;
}

.prv .box.bx1 {
	padding-bottom: 26px;
}
/**Map**/

.map {
	margin-bottom: 0 !important;
	padding-top: 4px;
	overflow: hidden;
}

.map figure {
	margin-bottom: 25px;
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.map figure iframe {
	width: 100%;
	height: 310px;
	max-width: 100%;
}
.map address {
	display: block;
}

.map dt {
	padding-bottom: 1px;
}

a.link-1 {
	color: #404040;
}

a.link-1:hover {
	color: #84ced7;
}


.map address+address {
	margin-top: 22px;	
}
.map address dd span {
	min-width: 70px;
	display: inline-block;
	text-align: left;
}
/**Footer**/

footer {
	display: block;
	line-height: 30px;
}
.copy {
	font-weight: bold;
	color: #404040;
	padding: 35px 0 25px;
	line-height: 20px;
}

footer h4 {
	padding-top: 44px;
	margin-bottom: 20px;
}



/**To Top**/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 140px;
	left: 51%;
	margin-left: 500px;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border: none;
  border-radius: 5px;
	text-indent: -999px;
	z-index: 20;
	background: url(../images/totop.png) no-repeat left 0;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
#toTop:hover {
	outline: none;
	background-position: right 0;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
 body {
 min-width: 768px;
}


.page1_block .p1_title {
	padding-top: 24px;
}

.min {
	width: 204px;
}


.slider_wrapper {
	height: 405px !important;
}

.page1 .camera_thumbs_cont ul {
	margin-top: 0 !important;
	margin-left: -64px !important;
}

.caption {
	left: -64px !important;
}

.camera_prev {
	left: -64px !important;
	bottom: 22px !important;
}

.camera_next {
	left: -18px !important;
	bottom: 22px !important;
}

 .nowrap {
 white-space: normal;
}


 .map address {
 float: left;
 margin-right: 30px;
}

 .map address+address {
 	margin-top: 0;
 }
 .map figure,  .map figure iframe,  #form input,  #form textarea,  #form .success {
 width: 100% !important;
 float: none;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}
 .extra_wrapper {
 overflow: visible;
}

.map figure {
	margin-bottom: 15px;
}

.table1 tbody td:first-child {
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80px;

	}

	.table1 thead td:first-child {
		padding-left: 3px !important;
	}

.table1  td:first-child {
width: 80px;

 }

ul.list {
	width: 35%;
}

}
@media only screen and (max-width: 767px) {
 body {
 min-width: 420px;
}




.table1 thead td {
	padding-left: 0 !important;
	padding-right: 4px !important;
}

.table1 tbody td:first-child {

	width: auto;

	}

	.table1 td {
		padding-right: 10px !important;
	}
.table1  td:first-child {
	padding-right: 0 !important;
	width: auto;

 }

.video img {
	width: 100%;
}

a.link1.lnk1 {
	margin-bottom: 40px;
}

#search {
	float: none;
	width: auto !important;
}

.head_top  {
	padding-top: 0;
	float: none;
	padding-bottom: 0;
}

.socials {
	background: #84CED7;
	float: none;
	overflow: hidden;
	text-align: center;
	word-spacing: -3px;
}


.socials a {

	float: none;
	display: inline-block;
}
.box.mins {
	padding-left: 15px;
	padding-right: 15px;
}

.min {
	float: none;
	width: auto;
	margin-left: 0;
	margin-right: 0;
}

.off1 {
	margin-bottom: 0;
}

.head {
	margin-top: 50px;
}

ul.list {
	width: auto;
	margin-left: 0 !important;
}

ul.list  {
	margin-top: 10px;
}

.page1_block .clear {
	height: 0;
}

.page1 .camera_thumbs_cont ul {
	margin-top: 0 !important;
	margin-left: 0px !important;
	width: 420px !important;
}

.camera_thumbs_cont ul li {
	display: block !important;
	float: left !important;
	width: 25% !important;

}

.camera_thumbs_cont ul li img {
	max-width: 100%;
}


.caption {
	display: none;
}

.camera_prev {
	left: auto !important;
	right: 46px !important;
	top: 0px !important;
	bottom: auto !important;
}

.camera_next {
	left: auto !important;
	right: 0px !important;
	top: 0 !important;
	bottom: auto !important;
}

.page1_block  .box {
	margin-bottom: 22px;
}


.img_inner {
width: 100% !important;
float: none !important;
margin-right: 0 !important;
margin-bottom: 20px !important;
}

.img_inner img {
	width: 100%;
}

 header {
 position: relative;
}
 header h1 {
 float: none;
 margin-bottom: 10px;
}
 header h1 a {
 height: auto;
 margin: 0 auto !important;
 text-align: right;
}
 header h1 a img {
 margin: 0 auto;
 width: 80%;
}

 .map figure iframe {
 width: 100%;
 height: 300px;
}
 .map address {
 	margin-right: 0;
}

 .map address+address {
 	margin-left: 20px;
 }
 .content .noresize {
 width: auto !important;
 float: left !important;
 margin-right: 20px !important;
 margin-top: 4px !important;
}


 .img_inner {
 margin-top: 20px;
}

.slider_wrapper {
	height: 305px !important;
}

footer .grid_2 {
	float: left !important;
	width: 50% !important;
}

footer .clear1 {
	clear: both;
}

}
@media only screen and (max-width: 479px) {
 body {
 min-width: 300px;
}

.table1{
	font-size: 11px;
}

 .table1  a {
 	font-size: 10px;
 	padding-left: 3px;
 	padding-right: 3px;
 }

.table1 thead{
	font-size: 12px;
}

.table1 tbody td + td + td + td {
	text-align: left;
}

.table1 td {
	padding-right: 2px !important;
}

.page1_block .p1_title {
    padding-top: 15px;
}

.page1_block .p1_title {
    font-size: 27px;
}

.page1 .camera_thumbs_cont ul {
	width: 300px !important;
}

.slider_wrapper {
	height: 289px !important;
}

 .map address {
 	float: none;
 }

 .map address+address {
 	margin-left: 0px;
 	margin-top: 20px;
 }

 .map figure iframe {
 width: 100%;
 height: 200px;
}


}

.box img {
    height: 150px;
}

.album {
    float:left;
    text-align: center;
    margin: 20px;
}