
.menu_block  {
	z-index: 999;
	position: relative;
	float: right;
	background-color: #fff;
	padding: 30px 33px;

}


nav>.sf-menu {
	z-index: 999;
	position: relative;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	z-index: 900;
	float: left;
position: relative;
}

.sf-menu>li+li {
	margin-left: 60px;

}

.sf-menu>li+li:after {
	pointer-events: none;
	left: -30px;
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	top: 2px;
	height: 18px;
	background-color: #e9e9e9;
}


.sf-menu>li>ul>li {
  float: none;
  position: static;
}


.sf-menu>li>a{
	letter-spacing: -1px;
	text-align: center;
	font-size: 18px;
	font-family: 'Glegoo', serif;
	color: #1f1f1f;
	position: relative;
	text-transform: uppercase;
	line-height: 20px;
	z-index: 999;
}

.sf-menu>li>a.sf-with-ul:after {
	position: absolute;
	content: '';
	left: 50%;
	margin-left: -2px;
	width: 5px;
	background: url(../images/arrows.png) 0 bottom;
	height: 4px;
	bottom: -10px;
	pointer-events: none;
	z-index: 999;
}


.sf-menu>li.current>a.sf-with-ul:after, 
.sf-menu>li.sfHover>a.sf-with-ul:after ,
.sf-menu>li>a.sf-with-ul:hover:after {
	background-position: right 0;
}


.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li>a:hover {
	color: #84ced7;
}


.sf-menu>li>ul>li>a>span {
	position: absolute;
	width: 5px;
	background: url(../images/arrows.png) no-repeat 0 0;
	height: 4px;
	right: -10px;
	bottom: 5px;
}


.sf-menu>li>ul>li.sfHover>a>span {
	background-position: 0 bottom;
}



.sf-menu a{
	font-size: 16px; 
	line-height: 21px; 
	color:#fffefe;
}



/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
	top: 39px;
	left: 50%;
	margin-left: -60px;
	width: 120px;
	background: #84ced7;
	z-index: 999; 
padding-top: 21px;
padding-bottom: 19px;
}

.sf-menu li.sfHover>ul:after {
	content: '';
	position: absolute;
	display: block;
	top: -10px;
	right: 16px;
	width: 0px;
height: 0px;
border-style: solid;
border-width: 0 13px 10px 0px;
border-color: transparent transparent #84cdd7 transparent;
}

.sf-menu li.sfHover li.sfHover ul:after {
	content: '';
	position: absolute;
	display: block;
	top: 16px;
	left: -10px;
	width: 0px;
height: 0px;
border-style: solid;
border-width: 13px 10px 0px 0;
border-color: transparent #404040 transparent transparent;
}


.sf-menu li ul li{
	position: relative;
	padding-left: 22px;
	float: none !important; 
}

.sf-menu li ul li+li {
	margin-top: 0px;
}



.sf-menu li ul li a{
	font-size: 12px;
	color: #fff;
	position: relative;
	line-height: 30px;
	z-index: 999;


}

.sf-menu li ul li+li {
}

.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {  
	color: #404040;

}

/*================================>> 3 Level <<========================================*/
.sf-menu li.sfHover li.sfHover ul{
	left: 190px !important;
	width: 102px !important;
	top: -20px !important;
	margin-top: 0 !important;

	background:  #404040 !important;
}

.sf-menu li.sfHover li.sfHover li {
	padding-left: 24px;
}

.sf-menu li.sfHover li.sfHover li a {
	color: #fff !important;

}
.sf-menu li.sfHover li.sfHover li a:hover {
	color: #84ced7 !important;
}




/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {

.sf-menu>li+li {
	margin-left: 28px;
}

.sf-menu>li+li:after {
	left: -14px;
}

.sf-menu>li>a {
	font-size: 15px;
}

}
@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		padding: 22px 10px 25px !important;
		clear: both;
		min-height: 0px;

	}


  header nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		margin: 0 auto;
		
	
	}

	.sf-menu{display:none !important; float: none;}
	#mm0{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #3C3C3C;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
